<div class="col-sm-8"><p style="height: 20px; line-height:30px;"><%= @user.apartment %>&nbsp;<span class="label label-warning" style="font-size: 14px;">可以到 "我的水果社 > 配送设置" 进行修改</span></p>
  <input type="hidden" name="order[apartment_id]" value="<%= @user.apartment_id %>">
</div>