<% if mobile? %>

<%= render "orders/mobile_order_list" %>

<% else %>

<%= render '/orders/tab_head' %>

<div class="tab-body">
  <%= render '/orders/order_list', cache_prefix: @cache_prefix %>
</div>

<div class="center"><%= will_paginate @orders, renderer: BootstrapPagination::Rails %></div>
<% end %>