<% cache cache_key_for('carousel_ads', @banners) do %>
<div id="carousel-ads" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <% if @banners.size > 1 %>
  <ol class="carousel-indicators">
    <% @banners.each_with_index do |banner, index| %>
      <li data-target="#carousel-ads" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
    <% end %>
  </ol>
  <% end %>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @banners.each_with_index do |banner, index| %>
      <% cache(banner) do %>
      <div class="item <%= index == 0 ? "active" : "" %>">
        <%= render_banner_image(banner) %>
        <div class="carousel-caption">
    
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
<% end %>