<div class="user-box">
  <h2>配送取货</h2>
  <section>
    <div class="help-item">
      <p>当天12:00以前下单，我们会在当天18:00-21:00之间配送到您小区。</p>
      <p>当天12:00以后下单，我们会在第二天18:00-21:00之间配送到您小区。</p>
    </div>
    <div class="help-item">
      <%= raw SiteConfig.deliver_intro %>
    </div>
  </section>
</div>