<% if mobile? %>

<%= render "layouts/mobile_navbar", left: "back", right: "home", title: @type.name %>
    
  <div class="container">
    <div class="items-list" style="margin-top: 20px">
      <% if @products.any? %>
      <% cache cache_key_for("#{@cache_prefix}_mobile", @products) do %>
        <%= render_mobile_grid_for @products, "/products/product_mobile" %>
      <% end %>
      <% else %>
      即将上线...
      <% end %>
    </div>
  </div>
<% else %>
<div class="row container-box">  
  <div class="col-md-12">
    <% if @products.any? %>
    <% cache cache_key_for(@cache_prefix, @products) do %>
      <%= render_grid_for @products, 4 %>
    <% end %>
    <% else %>
      即将上线...
    <% end %>
    </div>
  </div>
<% end %>

