<footer class="footer">
  <div class="link">
    <%= link_to '关于水果社', about_path %> | <%= link_to '帮助中心', order_help_path %>
  </div>
  <div class="center">
    <small>
        版权所有 &copy; <%= Time.now.year %> <%= link_to "水果社", "http://www.shuiguoshe.com" %> 保留所有权利.蜀ICP备14031323号
      </small>
  </div>
</footer>